body {
    font-family: Arial;
    margin: 40px;
}

form {
    width: 400px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #0073b1;
    color: white;
    border: none;
}

#result {
    margin-top: 20px;
    white-space: pre-wrap;
}